<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class='container'>
  <button class='btn btn-primary' *ngIf='!data$' (click)='fetchData()'>Get Data</button>
  <button class='btn btn-primary' *ngIf='viewingDetails' (click)='hideUserDetails()'>Back To List</button>

  <table class="table table-striped table-hover table-bordered" *ngIf='data$ && !viewingDetails'>
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Website</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of data$ | async'>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.website}}</td>
          <td><button type="button"
                      class='btn btn-primary' 
                      data-toggle="modal" 
                      data-target="myModal" 
                      (click)='viewUserDetails(user)'>View Details</button></td>
        </tr>
      </tbody>
  </table>
  <demo-user-detail [user]='selectedUser' *ngIf='viewingDetails'></demo-user-detail>
</div>
